body {
    background-color: rgb(118, 92, 120);
  }
  h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    white-space: pre-line;
  }
  .formatText {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    white-space: pre-line;
  }
  #joke {
    border: 5px solid rgb(16, 29, 55);
    background-color: rgb(118, 125, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    color: rgb(255, 230, 204);
  }